<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-personal" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Doctorado</a>
            <a class="list-group-item list-group-item-action" id="list-convenios" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Maestría</a>
            <a class="list-group-item list-group-item-action" id="list-TIC" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Capacitaciones (short term-courses)</a>
            <a class="list-group-item list-group-item-action" id="list-contabilidad" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Formación onLine</a>


        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-personal">Grupo de formación (Capacity Building) :: Doctorado</div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-convenios">Grupo de formación (Capacity Building) :: Maestria</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-TIC">Grupo de formación (Capacity Building) :: Capacitaciones (short term-courses)</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-contabilidad">Grupo de formación (Capacity Building) :: Formación onLine</div>

        </div>
    </div>
</div>