<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-redes" data-toggle="list" href="#list-home1" role="tab" aria-controls="home">Redes / Networking</a>
            <a class="list-group-item list-group-item-action" id="list-tools" data-toggle="list" href="#list-profile2" role="tab" aria-controls="profile">Herramientas colaborativas</a>
            <a class="list-group-item list-group-item-action" id="list-PaginaWeb" data-toggle="list" href="#list-messages3" role="tab" aria-controls="messages">Pagina Web</a>
            <a class="list-group-item list-group-item-action" id="list-redessociales" data-toggle="list" href="#list-settings4" role="tab" aria-controls="settings">Redes sociales</a>
            <a class="list-group-item list-group-item-action" id="list-publicaciones" data-toggle="list" href="#list-settings5" role="tab" aria-controls="settings1">Publicaciones</a>
            <a class="list-group-item list-group-item-action" id="list-Congresos" data-toggle="list" href="#list-profile6" role="tab" aria-controls="profile1">Congresos</a>
            <a class="list-group-item list-group-item-action" id="list-Eventos" data-toggle="list" href="#list-messages7" role="tab" aria-controls="messages1">Eventos</a>
            <a class="list-group-item list-group-item-action" id="list-Video" data-toggle="list" href="#list-settings8" role="tab" aria-controls="settings2">Videos / Youtube y TV</a>
            <a class="list-group-item list-group-item-action" id="list-Exposiciones" data-toggle="list" href="#list-settings9" role="tab" aria-controls="settings3">Exposiciones</a>
            <a class="list-group-item list-group-item-action" id="list-oficinas" data-toggle="list" href="#list-settings10" role="tab" aria-controls="settings4">Oficinas conjuntas</a>

        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home1" role="tabpanel" aria-labelledby="list-redes">Espacio de las opciones de Comunicación y Difusión :: Redes / Networking</div>
            <div class="tab-pane fade" id="list-profile2" role="tabpanel" aria-labelledby="list-tools">Espacio de las opciones de Comunicación y Difusión :: Herramientas colaborativas</div>
            <div class="tab-pane fade" id="list-messages3" role="tabpanel" aria-labelledby="list-PaginaWeb">Espacio de las opciones de Comunicación y Difusión :: Pagina Web</div>
            <div class="tab-pane fade" id="list-settings4" role="tabpanel" aria-labelledby="list-redessociales">Espacio de las opciones de Comunicación y Difusión :: Redes sociales</div>
            <div class="tab-pane fade" id="list-settings5" role="tabpanel" aria-labelledby="list-publicaciones">Espacio de las opciones de Comunicación y Difusión :: Publicaciones (Libros + Artículo + Proceedings)</div>
            <div class="tab-pane fade" id="list-profile6" role="tabpanel" aria-labelledby="list-Congresos">Espacio de las opciones de Comunicación y Difusión :: Congresos</div>
            <div class="tab-pane fade" id="list-messages7" role="tabpanel" aria-labelledby="list-Eventos">Espacio de las opciones de Comunicación y Difusión :: Eventos</div>
            <div class="tab-pane fade" id="list-settings8" role="tabpanel" aria-labelledby="list-Video">Espacio de las opciones de Comunicación y Difusión :: Videos / Youtube y TV</div>
            <div class="tab-pane fade" id="list-settings9" role="tabpanel" aria-labelledby="list-Exposiciones">Espacio de las opciones de Comunicación y Difusión :: Exposiciones</div>
            <div class="tab-pane fade" id="list-settings10" role="tabpanel" aria-labelledby="list-oficinas">Espacio de las opciones de Comunicación y Difusión :: Oficinas conjuntas</div>

        </div>
    </div>
</div>